name: OneForAll for subdomain, port scan and Upload Results

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  scan-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4

      - name: Install dependencies
        run: |
          
          sudo apt install gobuster
          
      - name: Run easy_gobuster
        run: |
          go install github.com/OJ/gobuster/v3@latest
          gobuster -h
          URL_FILE="./url.txt"
          GOBUSTER_MODE="dir"
          WORDLIST="./dic.txt"
          OUTPUT_DIR="gobuster_results"
          EXCLUDE_CODES="404,403,500"
          if [ ! -f "$URL_FILE" ]; then
              echo "错误：$URL_FILE 文件不存在！"
              exit 1
          fi
          mkdir -p "$OUTPUT_DIR"
          # 逐行读取URL文件
          LINE_NUM=0
          while IFS= read -r URL; do
              if [[ -z "$URL" || "$URL" =~ ^# ]]; then
                  continue
              fi
              LINE_NUM=$((LINE_NUM + 1))
              SAFE_URL=$(echo "$URL" | sed -e 's/[^a-zA-Z0-9]/_/g')
              OUTPUT_FILE="${OUTPUT_DIR}/${SAFE_URL}_gobuster.txt"
              ls -alh
              gobuster "$GOBUSTER_MODE" \
                  -u "$URL" \
                  -w "$WORDLIST" \
                  -o "$OUTPUT_FILE" \
                  -t 10 \
                  --timeout 10s \
                  -e \
                  --exclude-status "$EXCLUDE_CODES"
                  

          done < "$URL_FILE"
          echo "================OK========================"
          ls -alh
      - name: Compress easy_gobuster directory
        run: |
          cd ..
          ls -alh
          tar -czvf easy_gobuster.tar.gz easy_gobuster
          ls -alh
          
      - name: Upload compressed easy_gobuster
        uses: actions/upload-artifact@v4
        with:
          name: easy_gobuster
          path: easy_gobuster.tar.gz
          if-no-files-found: error
          retention-days: 7
          compression-level: 6
          overwrite: false
          include-hidden-files: false
    
